.images {
  display: flex;
  width: 100%;
  height: 80%;
  transition: 1s;
}
.images img {
width: 100%;
height: 80%;
object-fit: contain;
}
.wrapper {
  width: 320px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

#slide-1:target ~ .images {
  margin-left: 0px;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}

.navigation a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dedede;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
}

.navigation a:hover {
  background-color: #666;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-float a {
    color: #FFF;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}




