.images {
  display: flex;
  width: 100%;
  height: 80%;
  transition: 2s;
}
.images img {
width: 100%;
height: 80%;
object-fit: contain;
}
.wrapper {
  width: 320px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

#slide-1:target ~ .images {
  margin-left: 0px;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}

.navigation a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dedede;
  font-size: 0px;
  border-radius: 50%;
  margin: 3px;
}

.navigation a:hover {
  background-color: #666;
}
  



