.slider{
	margin:50px auto;
	width:80%;
	overflow:hidden;
}
 
.img-box img{
	width:100%;
	height:auto;
}

.btn{
	border:none;
	outline:none;
	background:#888;
	padding:10px 10px;
	font-size: 10px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;
	border-radius:100px;
	justify-content:center;
}

.btn:hover{
	background: #111;
}  
