/* heading */
h3 {
  text-align: center;
}
/* slider container */
.slider {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  margin: 40px auto;
  max-width: 600px;
}
/* image */
.slide-image {
  width: 100%;
  min-height: 200px;
  height: auto;
  max-height: 400px;
  padding: 10px;
  margin: 0 auto;
}
/* paragraph holding the count and number of the images */
p {
  text-align: center;
}
/* prev and next btns */
.btn {
  position: absolute;
  top: 50%;
  font-size: 80%;
  background-color: rgb(228, 231, 231);
  border: solid 1px rgb(201, 199, 199);
  padding: 5px;
  cursor: pointer;
}
/* prev btn */
.backward {
  left: 0px;
}
/* next btn */
.forward {
  right: 0px;
}
