.slider{
	margin:50px auto;
	width:90%;
}
 
.img-box Img{
	width:100%;
}

.btnn{
	border:none;
	outline:none;
	background:#888;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;			 
}

.btnn:hover{
	background: #111;
}
