.images {
  display: flex;
  width: 100%;
}
.images img {
width: 100%;
}
.wrapper {
  width: 200px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

#slide-1:target ~ .images {
  margin-left: 0px;
}

#slide-2:target ~ .images {
  margin-left: -100%;
}

#slide-3:target ~ .images {
  margin-left: -200%;
}
